.github/CODEOWNERS @MaoZiming @YangZhou1997 @zhongjiechen
/include/ @MaoZiming @YangZhou1997 @zhongjiechen

/ep/ @MaoZiming @YangZhou1997 @zhenhuang12
/p2p/ @YangZhou1997 @zhongjiechen @monopodium @praveingk @derekwin
/collective/afxdp @YangZhou1997
/collective/efa @YangZhou1997
/collective/rdma @zhongjiechen
