[submodule "collective/afxdp/lib/libbpf"]
	path = collective/afxdp/lib/libbpf
	url = https://github.com/libbpf/libbpf
[submodule "collective/afxdp/lib/xdp-tools"]
	path = collective/afxdp/lib/xdp-tools
	url = https://github.com/xdp-project/xdp-tools
[submodule "thirdparty/rccl"]
	path = thirdparty/rccl
	url = https://github.com/ROCm/rccl.git
[submodule "thirdparty/rccl-tests"]
	path = thirdparty/rccl-tests
	url = https://github.com/ROCm/rccl-tests.git
[submodule "thirdparty/nccl"]
	path = thirdparty/nccl
	url = https://github.com/NVIDIA/nccl.git
[submodule "thirdparty/nccl-tests"]
	path = thirdparty/nccl-tests
	url = https://github.com/NVIDIA/nccl-tests.git
[submodule "thirdparty/Primus"]
	path = thirdparty/Primus
	url = https://github.com/AMD-AIG-AIMA/Primus
[submodule "thirdparty/gdrcopy"]
	path = thirdparty/gdrcopy
	url = https://github.com/NVIDIA/gdrcopy.git
[submodule "thirdparty/ThunderKittens"]
    path = thirdparty/ThunderKittens
    url = https://github.com/HazyResearch/ThunderKittens.git
