test_main
src/device/test_device_runtime
src/device/benchmarks/bench_info
src/device/benchmarks/bench_device_full_fifo
src/device/benchmarks/bench_device_fifo
src/device/benchmarks/bench_device_sm_fifo
src/device/benchmarks/bench_device_launch_vs_worker
src/ccl/test_components
src/ccl/test_backend_components
src/ccl/test_device_backend
src/ccl/test_transport_backend
src/ccl/test_multiprocess_collective
src/ccl/test_copy_perf
src/ccl/test_modules
src/transport/test_transport_integration
src/transport/test_transport_unit
src/ccl/*.o
src/ccl/*.d
src/ccl/backend/*.o
src/ccl/backend/*.d
src/ccl/test/**/*.o
src/ccl/test/**/*.d
src/transport/*.o
src/transport/*.d
src/transport/**/*.o
src/transport/**/*.d
src/device/*.o
src/device/*.d
src/device/**/*.o
src/device/**/*.d
*.so
bench_transport
